body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #BBBBBB;
}

button {
    background-color: #3882F6;
    border: 0px;
    font-weight: bold;
    font-size: 16px;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 10px 30px;
}

nav,
.footer,
.one {
    display: flex;
    background-color: #1F2937;
    color:#F9FAF8;
    align-items: center;
}

nav {
    padding: 10px 200px;
    justify-content: space-between;
}

nav .header {
    font-size: 24px;
    font-weight: bold;
}

nav .right {
    display: flex;
    gap: 30px;
}

.one {
    justify-content: space-between;
    padding: 100px 200px;
}

.one .left {
    height: auto;
    width: 450px;
}

.one .left .Hero-main {
    font-size: 48px;
    font-weight: 900;
}

.one .left .Hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}

.one .left button {
    margin-top: 8px;
}

.one .right{
    background-color: #71717e;
    height: 250px;
    line-height: 255px;
    text-align: center;
    width: 600px;
}
